#header{ 
       border-top-left-radius:10%; 
       border-top-right-radius:10%;
       box-shadow:1px 1px 4px #FFF;
       border:4px solid red; 
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1212FF), color-stop(1, #29ED44));
       background: -o-linear-gradient(bottom, #1212FF 0%, #29ED44 100%);
       background: -moz-linear-gradient(bottom, #1212FF 0%, #29ED44 100%);
       background: -webkit-linear-gradient(bottom, #1212FF 0%, #29ED44 100%);
       background: -ms-linear-gradient(bottom, #1212FF 0%, #29ED44 100%);
       background: linear-gradient(to bottom, #1212FF 0%, #29ED44 100%); 
}
#header h1{
          background-image:url(http://sr.photos2.fotosearch.com/bthumb/CSP/CSP992/k13318184.jpg);
          background-repeat:no-repeat;
          background-position:left top;
          background-size:400px 300px;
          border-top-left-radius:10%;
          height:98px;
          width:350px;
          font-family:Arial;
          font-size:xx-large;
          padding:4px;
          margin:0.1px;
          color:yellow;
          text-shadow:2px 2px red;
          
}
#header img{
           align: top left;
           border-top-left-radius:10%;
           height:100px;
}
body{
     background-image:url("https://forfunk.files.wordpress.com/2014/02/seven-wonders-of-the-world-world-of-wonders1.jpg");
     background-repeat:no-repeat;
     background-size:cover;
     background-attachment:fixed;
}
#message{
         background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1212FF), color-stop(1, #29ED44));
         background-image: -o-linear-gradient(top, #1212FF 0%, #29ED44 100%);
         background-image: -moz-linear-gradient(top, #1212FF 0%, #29ED44 100%);
         background-image: -webkit-linear-gradient(top, #1212FF 0%, #29ED44 100%);
         background-image: -ms-linear-gradient(top, #1212FF 0%, #29ED44 100%);
         background-image: linear-gradient(to top, #1212FF 0%, #29ED44 100%); 
         text-align:center;
         font-size:24pt;
         color:lime;
         padding:2px;
         text-shadow:2px 2px gold;
         box-shadow: 1px 1px 2px 3px #FFF;  
}
#content{
         float:left;
         width:70%;
         margin:2px;
         color:navy;
         line-height:1.5em;
         transit-property:background, width , font-size , border-radius , margin-left , margin-right;
         transit-duration:2s,1s,2s,1s,2s,2s;
         -webkit-transition-duration: 2s, 2s, 2s, 2s, 2s, 2s;
	 -webkit-transition-property: background, width,font-size, border-radius, margin-left, margin-right, 
	 transition-timing-function: ease;
	 -webkit-transition-timing-function: ease;
        
}
#content:hover{
               background:lightgreen;
               width:80%;
               margin-left:70px;
               margin-right:140px;
               border-radius:50%;
               font-size:10pt;
}
#content h1{
            margin-bottom:1em;
            font-family:verdana;
            font-size:170%;
            color:saddlebrown;
            padding:0;
            margin-left:1em;
            
}
#content .glutter{
         background-color:white;
         border:2px solid gray;
         padding:8px;
         margin-top:30px;
         margin-bottom:30px;
         opacity:0.8;
         border-radius:10%;
         box-shadow:5px 4px 5px #ecc;
}
.dotted{
         border:5px dotted black;
}
#fsize{
     font-size:xx-large;
}
#color1{
        font-weight:bold;
        color:orange;
}
#color2{
        font-weight:bold;
        color:green;
}
#color3{
        font-weight:bold;
        color:purple;
}#sidebar{
         float:right;
         height:5%;
         margin:9px;
         width:25%;
}

.box{
     width:30%
     float: right;
     margin-left:2px;
     margin-top:15px;
     margin-bottom:15px;
     padding-bottom:3px;
     font-size:85%;
     line-height:1.5em;
     color:cyan;
     background-color:gray;
     box-shadow:2px 1px chocolate;
     border:1px solid black;
     border-top-left-radius:10%; 
     border-bottom-right-radius:10%;
}

.box h2{
        padding:3px;
        font-size:170%;
        font-family:'Comic San MS','Book Antiqua';
        color:#eeccff;
}
.box:hover {
	color:maroon;
	background-color: skyblue;
	opacity: 0.8;
}
.box:hover h2{
	color:darkolivegreen;
}
.box p{
       padding-left:1px;
       padding-right:0.5px;
       margin:0px;
       font-size:140%;
}
#ul{
       padding-left:5px;
       padding-right:5px;
       margin:0;
       list-type:none;
       font-size:12pt;

}
#ul li{
        padding-left:4px;
        margin-left:25px;
        list-style-image:url("http://dontfeartheinternet.com/images/bullet.png") ;
        background-repeat: no-repeat;
        background-position: 0 3px;         
}


dl.feature {
             padding:4px;
             margin-top:20px;
             margin-bottom:20px;
             border-top:3px dashed gray;
}
dl.feature:hover {
	color: gray; 
	background-color:black ;
	opacity: 0.8;
}

dl.feature:focus {
	color: gray;
	background-color: black;
	opacity: 0.8;	
}
dl.feature dt{
            margin-bottom:0.5em;
            font-family:Times New Roman;
            font-size:140%;
            font-weight:bold;
            color:orange;
            text-shadow:4px 3px indigo;
}
.feature img{
    float:left;
    margin-right:9px;
    padding-left:5px;
    padding-right:5px;
    border:5px solid yellow;
    width:100px;
    height:100px;
}
.feature dd{
            font-family: Courier New;
            font-size:100%;
            line-height:1.5em;
            color:green;
}
.alternate  img{
                     float:right;
                     border:4px groove maroon;
}
.alternate dd{
              font-family:monospace;
}
dl.alternate dt{
             color:aqua;
             text-shadow:2px 3px red;
}
     
dl.alternate:hover {
	color:silver;
	background-color: aquamarine;
	opacity: 1;
}

dl.alternate:focus {
	color: silver;
	background-color: aquamarine;
	opacity: 1;	
}                
a:link{ 
      color:yellow;
      text-decoration:none;
}
a:visited{
         color:red;
         text-decoration:underline;
}
a:hover{
       color:violet;
       text-decoration:none;
}
a:active{
        color:purple;
        text-decoration:overline;
}      
                  
#footer{
        clear:both;
        border:2px solid red; 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1212FF), color-stop(1, #29ED44));
        background: -o-linear-gradient(bottom, #1212FF 0%, #29ED44 100%);
        background: -moz-linear-gradient(bottom, #1212FF 0%, #29ED44 100%);
        background: -webkit-linear-gradient(bottom, #1212FF 0%, #29ED44 100%);
        background: -ms-linear-gradient(bottom, #1212FF 0%, #29ED44 100%);
        background: linear-gradient(to bottom, #1212FF 0%, #29ED44 100%); 
        font-size:90%;
        color:white; 
        height:30px;
        margin:0;
        padding:5px;
        border-radius:0px 0px 20px 20px;
        box-shadow: 3px 2px -10px #FF00FF; 
}